<header>
<style>
.my-header-table {
	width:100%;
    border:0px; /* solid #000000; */
}
table.my-header-table td{
    border:0px; /* solid #000000; */
    padding: 5px;
}
</style>
</header>

<div class=no-print>

<div style="float: right;"><A HREF="search.html">Search...</A></div>

<table class="my-header-table">

<tr>

<td>
<h4>
	<a class=brand href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
</h4>
</td>

<td>
<h4>
<A HREF="http://127.0.0.1:4000/mapmanager/features">Features</a>
</h4>
</td>

<td>
<h4>
<A HREF="http://127.0.0.1:4000/mapmanager/download">Download</a>
</h4>
</td>

<td>
<h4>
<A HREF="http://127.0.0.1:4000/mapmanager/getting-started">Getting Started</a>
</h4>
</td>

<td>
<h4>
<A HREF="http://127.0.0.1:4000/mapmanager/contact">Contact</a>
</h4>
</td>

</tr>
</table>

<!--
<div float=right>
<a href="javascript:window.print()" float=right>print</a>
</div>
-->



</div>
